body{
    background-color: azure;
}
header{
    background-color: rgb(49,48,47);
    font-size: 32px;
}
p{
    font-size:26px;
}
button{
    font-size: 40px;
}
img{
    float: right;
    
}